body {
  padding-top: 8px;
  padding-bottom: 20px;
  background: #efefef !important
}

.container1{ margin: 0 auto; width: 730px; background:#efefef}
.row-top{width: 100%;}
.col-left-reg{ float: left; width: 34%; font-size:8.5pt}
.pad-left-right{padding-left: 0px; padding-right: 0px;}
.col-center{float: left; width: 34%;}
.logo{ width: 100%; height: auto;}
.col-pic{float: left; width: 30%;}
.pic{ float: right; width: 130px; height: 140px; border: 1px solid #000; margin-right: 5px;}
.pic img{width: 100%; height: 100%}
.detail{ width: 100%; float: left; font-family: Verdana, Arial, Helvetica, sans-serif; font-size:9pt}
.detail h2{margin: 0 0 5px 0; font-family: "Times New Roman", Georgia, Serif;}
.span{ background: #f5f5f5; padding:5px; margin: 0px;}

.d-line{width: 100%; float: left; background:#f5f5f5; padding:3px; margin-top:3px;font-size: 8pt}
.d-line span{padding:3px; font-weight: bold; font-size: 8pt}
.half-left{ float: left; width: 60%; }
.half-right{ float: left; width: 40%; }
.membership{width: 100%; float: left; font-family: Verdana, Arial, Helvetica, sans-serif; font-size:9pt;margin-top:8px;}
.membership h2{margin: 5px 0 5px 0; font-family:"Times New Roman", Georgia, Serif; font-size:14pt}
.p-d1{float: left; width: 30%;}
.p-d2{float: left; width: 30%;}
.p-d3{float: left; width: 40%;}
.p-d21{float: left; width: 25%;}
.p-d22{float: left; width: 25%;}
.p-d23{float: left; width: 25%;}
.p-d24{float: left; width: 25%;}
.bill-d{width: 100%; float: left; font-family: Verdana, Arial, Helvetica, sans-serif; font-size:9pt; margin-top: 10px;}
.bill-d h2{margin: 5px 0 5px 0; font-family:"Times New Roman", Georgia, Serif; font-size:14pt}
.bill-d h3{margin: 5px 0 2px 0; font-family:"Times New Roman", Georgia, Serif; font-size:16pt}
#b-line{width: 100%; float: left; padding:3px; margin-top:2px;}
.b-d-left{float: left; width: 45%;background:#f5f5f5; padding: 2px; }
.b-d-right{float: right; width: 43%;background:#f5f5f5; padding: 2px; }
#b-line span{padding:3px; font-weight: bold}
.b-d-sign{float: right; width: 43%; }
.sign{ border-top: 1px solid #000; padding-top: 10px; text-align: center}

.row-top {
		  margin-bottom:10px;
}

.col-top-1 {border-right: 1px solid #cccccc;
		 
}
.cat-form{ border-bottom: 1px solid #000; display: inline; }

.text-center{ text-align:center;}
.d-line abel {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0px;
    font-weight: bold;
}

.col-lg-4 {
    width: 33.33333333%;
	float: left;
}








@media print {
    .col-md-3{width: 25%;}
	.col-md-6{width: 50%;}
	
	
}


.cal-bottom{margin-bottom:8px;}



.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}


.calculator-button {
	
}

.calculator-button,
.calculator-button:focus {
	background-color: rgb(233,76,111);
    padding: 21px;
    font-size: 26px;
}

.calculator-button:hover {
	background-color: rgb(198,213,205);
}

.calculator-button,
.calculator-button:hover,
.calculator-button:focus {
	border:none;
	outline:none;
}

#outer-calc {
	background-color: rgb(84,39,51);
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
	padding-bottom: 50px
}

.button-column{
margin-bottom: 8px;
}
.p-btn-column{
padding: 2px 1px;
}

.amount {
    color: #fff;
    background-color: orange;
    border-color: orange;
}

.liter {
    color: #fff;
    background-color: #60c441;
    border-color: #60c441;
}

.rate {
    color: #fff;
    background-color: #434343;
    border-color: #434343;
}
.bottom{    margin-bottom: 7px;}













.navbar {
  margin-bottom: 20px;
}
.jumbotron {
    text-align: center;
    background-color: transparent;
}
.footer {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    border-top: 1px solid #eee;
	background: #f8f8f8;
	text-align: center;
}





/*Uzair Code*/

.row-top{width: 100%;}
.pad-left-right{padding-left: 0px; padding-right: 0px;}
.form{float: left; width: 100%;margin-top: 23px; margin-left: 4px;}
.col-center{margin-top: 13px;}
.centerpad{padding-left: 10px; padding-right: 10px;margin-top: 0px;margin-bottom:0;}
.logo{ width: 100%; height: auto;}

.terms{width: 100%; float: left; font-family: Verdana, Arial, Helvetica, sans-serif; font-size:7.9pt; padding-left: 10px;
padding-top: 4px !important; background: #efefef !important;}
.terms h2{ text-align: center; margin: 3px; }
.terms ul{list-style-type:decimal;}
.terms ul li{ margin-bottom: 3px;}
.detail{ width: 100%; float: left; font-family: Verdana, Arial, Helvetica, sans-serif;font-size:9pt}
.detail h2{margin: 0 0 5px 0; font-family: "Times New Roman", Georgia, Serif; font-size: 20px;}
.span{ background: #f5f5f5; padding:5px; margin: 0px;}
.subspan{font-size: 9pt;}

.half-left{ float: left; width: 60%; }
.half-right{ float: left; width: 40%; }
.p-d1{float: left; width: 30%;}
.p-d2{float: left; width: 30%;}
.p-d3{float: left; width: 40%;}
.p-d21{float: left; width: 25%;}
.p-d22{float: left; width: 25%;}
.p-d23{float: left; width: 25%;}
.p-d24{float: left; width: 25%;}
.secondpage{ }
.bill-d h2{margin: 5px 0 5px 0; font-family:"Times New Roman", Georgia, Serif; }
.bill-d h3{margin: 5px 0 2px 0; font-family:"Times New Roman", Georgia, Serif; font-size:16pt}

#b-line span{padding:5px 0px; font-weight: bold}
.b-d-sign{float: right; width: 43%; }
.sign{ border-top: 1px solid #000; padding-top: 10px; text-align: center;background: transparent !important;}

.row-top {
		  margin-bottom:10px;
}
.col-top-1 {border-right: 1px solid #cccccc;
		 
}
.cat-form{ border-bottom: 1px solid #000; display: inline; }

.text-center{ text-align:center;}
.cal-bottom{margin-bottom:8px;}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}


.calculator-button {
	
}

.calculator-button,
.calculator-button:focus {
	background-color: rgb(233,76,111);
    padding: 21px;
    font-size: 26px;
}
.remarks{margin-top: 10px;background: #efefef;}
.remarks .billtitle {  font-size: 19px;  }
.remarks .remarksblock {  height: 100px;border: 1px solid black; padding: 5px; float: left; width: 98%; white-space:pre-wrap  }

.calculator-button:hover {
	background-color: rgb(198,213,205);
}

.calculator-button,
.calculator-button:hover,
.calculator-button:focus {
	border:none;
	outline:none;
}

#outer-calc {
	background-color: rgb(84,39,51);
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
	padding-bottom: 50px
}

.button-column{
margin-bottom: 8px;
}
.p-btn-column{
padding: 2px 1px;
}

.amount {
    color: #fff;
    background-color: orange;
    border-color: orange;
}

.liter {
    color: #fff;
    background-color: #60c441;
    border-color: #60c441;
}

.rate {
    color: #fff;
    background-color: #434343;
    border-color: #434343;
}
.bottom{    margin-bottom: 7px;}
.navbar {
  margin-bottom: 20px;
}
.jumbotron {
    text-align: center;
    background-color: transparent;
}
.footer {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    border-top: 1px solid #eee;
	background: #f8f8f8;
	text-align: center;
}
.top10{
    margin-top: 0px !important;
}
/************ For Printing *****/
@media print {

body{background: #efefef !important}

.container1{ margin: 0 auto; width: 730px; background:#efefef !important}
.form{float: left !important; width: 100% !important;margin-top: 20px !important; margin-top: 23px !important;margin-left: 4px !important;}
.centerpad{padding-left: 10px; padding-right: 20px;margin-top: 0px;margin-bottom:0 !important;}
.d-line{width: 100%; float: left; background:#f5f5f5 !important; padding:3px; margin-top:3px;font-size: 8pt}
.d-line span{padding:3px; font-weight: bold; font-size: 8pt}    
	.col-pic{float: left; width: 30%;}
.pic{ float: right; width: 130px; height: 140px; border: 1px solid #000; margin-right:3px; }
.pic img{width: 100%; height: 100%;}
	
.logo{ width: 100% !important; height: auto !important;}

.detail{ width: 100% !important; float: left !important; font-family: Verdana, Arial, Helvetica, sans-serif !important; font-size:9pt !important}
.detail h2{margin: 0 0 5px 0 !important; font-family: "Times New Roman", Georgia, Serif !important;}
.span{ background: #f5f5f5 !important; padding:5px !important; margin: 0px !important;}
.subspan{font-size: 9pt !important;}
.d-line span{padding:3px !important; font-weight: bold !important}
.half-left{ float: left !important; width: 60% !important; }
.half-right{ float: left !important; width: 40% !important; }
.p-d1{float: left !important; width: 30% !important;}
.p-d2{float: left !important; width: 30% !important;}
.p-d3{float: left !important; width: 40% !important;}
.p-d21{float: left !important; width: 25% !important;}
.p-d22{float: left !important; width: 25% !important;}
.p-d23{float: left !important; width: 25% !important;}
.p-d24{float: left !important; width: 25% !important;}
.bill-d h2{margin: 5px 0 5px 0 !important; font-family:"Times New Roman", Georgia, Serif !important;}
.bill-d h3{margin: 5px 0 2px 0 !important; font-family:"Times New Roman", Georgia, Serif !important; font-size:16pt !important}
#b-line{width: 100% !important; float: left !important; padding:1px 0px !important;}
.b-d-left{float: left !important; width: 43% !important; background:#f5f5f5 !important; padding: 2px !important;}
.b-d-right{float: right !important; width: 43% !important;background:#f5f5f5 !important; padding: 2px !important; }
#b-line span{padding:5px 0px !important; font-weight: bold !important}
.b-d-sign{float: right !important; width: 43% !important; }
.sign{ border-top: 1px solid #000 !important; padding-top: 10px !important; text-align: center !important;background: transparent !important;}



.d-line abel {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0px;
    font-weight: bold;
}













.row-top {
		  margin-bottom:10px !important;    margin-top: -30px !important;
}
.col-top-1 {border-right: 1px solid #cccccc !important;
		 
}
.cat-form{ border-bottom: 1px solid #000 !important; display: inline !important; }

.text-center{ text-align:center !important;}

.cal-bottom{margin-bottom:8px !important;}

.row-eq-height {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display:         flex !important;
}

.calculator-button,
.calculator-button:focus {
	background-color: rgb(233,76,111) !important;
    padding: 21px !important;
    font-size: 26px !important;
}

.calculator-button:hover {
	background-color: rgb(198,213,205) !important;
}

.calculator-button,
.calculator-button:hover,
.calculator-button:focus {
	border:none !important;
	outline:none !important;
}

#outer-calc {
	background-color: rgb(84,39,51) !important;
	padding-left: 50px !important;
	padding-right: 50px !important;
	padding-top: 50px !important;
	padding-bottom: 50px !important
}

.button-column{
margin-bottom: 8px !important;
}
.p-btn-column{
padding: 2px 1px !important;
}

.amount {
    color: #fff !important;
    background-color: orange !important;
    border-color: orange !important;
}

.liter {
    color: #fff !important;
    background-color: #60c441 !important;
    border-color: #60c441 !important;
}

.rate {
    color: #fff !important;
    background-color: #434343 !important;
    border-color: #434343 !important;
}
.bottom{    margin-bottom: 7px !important;}
.navbar {
  margin-bottom: 20px !important;
}
.jumbotron {
    text-align: center !important;
    background-color: transparent !important;
}
.footer {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin-top: 20px !important;
    border-top: 1px solid #eee !important;
	background: #f8f8f8 !important;
	text-align: center !important;
}
@page {size: portrait !important;margin: inherit !important;}
.top10{
    
}
    .mainhead {
        border-bottom: 1px black solid !important;
        padding-bottom: 5px !important;
        margin-bottom: 5px !important;
    }
}
.mainhead {
    border-bottom: 1px black solid;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
@media print {

    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left!important;
    }
    .col-lg-12 {
        width: 100% !important;
    }
    .col-lg-11 {
        width: 91.66666666666666% !important;
    }
    .col-lg-10 {
        width: 83.33333333333334% !important;
    }
    .col-lg-9 {
        width: 75% !important;
    }
    .col-lg-8 {
        width: 66.66666666666666% !important;
    }
    .col-lg-7 {
        width: 58.333333333333336% !important;
    }
    .col-lg-6 {
        width: 50% !important;
    }
    .col-lg-5 {
        width: 41.66666666666667% !important;
    }
    .col-lg-4 {
        width: 33.33333333333333% !important;
    }
    .col-lg-3 {
        width: 25% !important;
    }
    .col-lg-2 {
        width: 16.666666666666664% !important;
    }
    .col-lg-1 {
        width: 8.333333333333332% !important;
    }
    /*.watermark {
        color: BLACK !important;
        font-size: 96px !important;
        left: 35% !important;
        opacity: 0.21 !important;
        position: fixed !important;
        top: 50% !important;
        -ms-transform: rotate(-66deg) !important;
        -webkit-transform: rotate(-66deg) !important;
        transform: rotate(-66deg) !important;
        display: block !important;
    }*/
    .remarks{margin-top: 15px !important; margin-bottom: 15px !important; background: #efefef !important;}
    .remarks .billtitle {  font-size: 19px !important;  }
    .remarks .remarksblock {  height: 100px !important;border: 1px solid black !important;padding: 5px !important; float: left !important; white-space:pre-wrap !important  }
}