
@font-face {
                          font-family: "AzoSans-Bold";
                          src: url('../fonts/Rui Abreu - AzoSans-Bold.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "AzoSans-Light";
                          src: url('../fonts/Rui Abreu - AzoSans-Light.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "AzoSans-Black";
                          src: url('../fonts/Rui Abreu - AzoSans-Black.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "AzoSans-Regular";
                          src: url('../fonts/Rui Abreu - AzoSans-Regular.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "AzoSans-Medium";
                          src: url('../fonts/Rui Abreu - AzoSans-Medium.otf') format("opentype");
                        }
                        
.homepage {
  width               : 100%;
  min-width           : 1366px;
  height              : 100vh;
  min-height          : 3073px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.homepage .linecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1535px;
  height              : 4px;
  width               : 1370px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .linecopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2298px;
  height              : 4px;
  width               : 1370px;
  position            : absolute;
  margin              : 0;
  left                : -10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .path3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 461px;
  height              : 1075px;
  width               : 1364px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .path3copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1998px;
  height              : 1075px;
  width               : 1364px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 720px;
  width               : 1366px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .path2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 138px;
  height              : 582px;
  width               : 815px;
  position            : absolute;
  margin              : 0;
  left                : 551px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .rectanglecopy17 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1385px;
  height              : 70px;
  width               : 540px;
  position            : absolute;
  margin              : 0;
  left                : 409px;
  border-radius       : 35px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .ourlendingpartners {
  background-color    : rgba(255,255,255,0.0);
  top                 : 781px;
  height              : auto;
  width               : 503px;
  position            : absolute;
  margin              : 0;
  left                : 432px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 45.0px;
  color               : rgba(147, 147, 147, 0.68);
  text-align          : center;
  line-height         : 54.0px;
}
.homepage .smartloansforsmar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 212px;
  height              : auto;
  width               : 479px;
  position            : absolute;
  margin              : 0;
  left                : 125px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 45.0px;
  color               : rgba(255, 46, 46, 0.65);
  text-align          : left;
  letter-spacing      : 0.27px;
  line-height         : 51.0px;
}
.homepage .smartloansforsmar .span1 {
  text-align          : justify;
}
.homepage .smartloansforsmar .span2 {
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
}
.homepage .smartloansforsmar .span3 {
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  color               : rgba(104, 104, 104, 1.0);
  text-align          : justify;
}
.homepage .smartloansforsmar .span4 {
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  color               : rgba(104, 104, 104, 1.0);
  text-align          : justify;
}
.homepage .loremipsumdolorsi {
  background-color    : rgba(255,255,255,0.0);
  top                 : 338px;
  height              : auto;
  width               : 413px;
  position            : absolute;
  margin              : 0;
  left                : 125px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 0.9px;
  line-height         : 22.0px;
}
.homepage .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 233px;
  height              : 516px;
  width               : 934px;
  position            : absolute;
  margin              : 0;
  left                : 385px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 873px;
  height              : 96px;
  width               : 181px;
  position            : absolute;
  margin              : 0;
  left                : 174px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .rectanglecopy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 873px;
  height              : 96px;
  width               : 181px;
  position            : absolute;
  margin              : 0;
  left                : 678px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .rectanglecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 873px;
  height              : 96px;
  width               : 181px;
  position            : absolute;
  margin              : 0;
  left                : 342px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .rectanglecopy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 873px;
  height              : 96px;
  width               : 181px;
  position            : absolute;
  margin              : 0;
  left                : 846px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .rectanglecopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 873px;
  height              : 96px;
  width               : 181px;
  position            : absolute;
  margin              : 0;
  left                : 510px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .rectanglecopy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 873px;
  height              : 96px;
  width               : 181px;
  position            : absolute;
  margin              : 0;
  left                : 1014px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .a02 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 870px;
  height              : 88px;
  width               : 139px;
  position            : absolute;
  margin              : 0;
  left                : 363px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.52;
}
.homepage .a02copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 870px;
  height              : 88px;
  width               : 139px;
  position            : absolute;
  margin              : 0;
  left                : 867px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.52;
}
.homepage .a01 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 901px;
  height              : 24px;
  width               : 133px;
  position            : absolute;
  margin              : 0;
  left                : 198px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.52;
}
.homepage .a01copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 901px;
  height              : 24px;
  width               : 133px;
  position            : absolute;
  margin              : 0;
  left                : 702px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.52;
}
.homepage .bitmap1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 870px;
  height              : 88px;
  width               : 89px;
  position            : absolute;
  margin              : 0;
  left                : 556px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.52;
}
.homepage .viewmoreproducts {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1402px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 478px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 31.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 2.19px;
  line-height         : 37.0px;
}
.homepage .bitmapcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 870px;
  height              : 88px;
  width               : 89px;
  position            : absolute;
  margin              : 0;
  left                : 1060px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.52;
}
.homepage .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 564px;
  height              : 39px;
  width               : 39px;
  position            : absolute;
  margin              : 0;
  left                : 163px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .ovalcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 564px;
  height              : 39px;
  width               : 39px;
  position            : absolute;
  margin              : 0;
  left                : 212px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .ovalcopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 564px;
  height              : 39px;
  width               : 39px;
  position            : absolute;
  margin              : 0;
  left                : 261px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 993px;
  height              : 250px;
  width               : 271px;
  position            : absolute;
  margin              : 0;
  left                : 152px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .rectanglecopy6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 993px;
  height              : 250px;
  width               : 271px;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .rectanglecopy7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 993px;
  height              : 250px;
  width               : 271px;
  position            : absolute;
  margin              : 0;
  left                : 683px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .rectanglecopy8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 993px;
  height              : 250px;
  width               : 271px;
  position            : absolute;
  margin              : 0;
  left                : 945px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .bitmap2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1037px;
  height              : 158px;
  width               : 158px;
  position            : absolute;
  margin              : 0;
  left                : 1000px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .path5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 872px;
  height              : 1px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 115px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .bitmap3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 989px;
  height              : 236px;
  width               : 237px;
  position            : absolute;
  margin              : 0;
  left                : 169px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .bitmap4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1027px;
  height              : 145px;
  width               : 65px;
  position            : absolute;
  margin              : 0;
  left                : 500px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .bitmap5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1049px;
  height              : 157px;
  width               : 157px;
  position            : absolute;
  margin              : 0;
  left                : 494px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .iphonex {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1241px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 189px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 23.0px;
  color               : rgba(55, 55, 55, 0.65);
  text-align          : left;
  letter-spacing      : 0.14px;
  line-height         : 28.0px;
}
.homepage .buynow {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1303px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 189px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(250, 24, 24, 0.63);
  text-align          : left;
  letter-spacing      : 0.1px;
  line-height         : 20.0px;
}
.homepage .buynowcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1303px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 456px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(250, 24, 24, 0.63);
  text-align          : left;
  letter-spacing      : 0.1px;
  line-height         : 20.0px;
}
.homepage .buynowcopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1303px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 723px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(250, 24, 24, 0.63);
  text-align          : left;
  letter-spacing      : 0.1px;
  line-height         : 20.0px;
}
.homepage .buynowcopy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1303px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 992px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(250, 24, 24, 0.63);
  text-align          : left;
  letter-spacing      : 0.1px;
  line-height         : 20.0px;
}
.homepage .samsungs9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1241px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 456px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 23.0px;
  color               : rgba(55, 55, 55, 0.65);
  text-align          : left;
  letter-spacing      : 0.14px;
  line-height         : 28.0px;
}
.homepage .sonyxperia1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1241px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 723px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 23.0px;
  color               : rgba(55, 55, 55, 0.65);
  text-align          : left;
  letter-spacing      : 0.14px;
  line-height         : 28.0px;
}
.homepage .huaweihonor10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1241px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 992px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 23.0px;
  color               : rgba(55, 55, 55, 0.65);
  text-align          : left;
  letter-spacing      : 0.14px;
  line-height         : 28.0px;
}
.homepage .bitmap6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1027px;
  height              : 174px;
  width               : 222px;
  position            : absolute;
  margin              : 0;
  left                : 707px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .a55inchdisplay {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1274px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 189px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(100, 100, 100, 1.0);
  text-align          : left;
  letter-spacing      : 0.14px;
  line-height         : 19.0px;
}
.homepage .a65inchdisplay {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1274px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 456px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(100, 100, 100, 1.0);
  text-align          : left;
  letter-spacing      : 0.14px;
  line-height         : 19.0px;
}
.homepage .a75inchdisplay {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1274px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 723px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(100, 100, 100, 1.0);
  text-align          : left;
  letter-spacing      : 0.14px;
  line-height         : 19.0px;
}
.homepage .a75inchdisplaycopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1274px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 992px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(100, 100, 100, 1.0);
  text-align          : left;
  letter-spacing      : 0.14px;
  line-height         : 19.0px;
}
.homepage .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1537px;
  height              : 763px;
  width               : 1367px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .bitmap7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1589px;
  height              : 550px;
  width               : 731px;
  position            : absolute;
  margin              : 0;
  left                : 635px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .howitworks {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1704px;
  height              : auto;
  width               : 479px;
  position            : absolute;
  margin              : 0;
  left                : 167px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 63.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.38px;
  line-height         : 51.0px;
}
.homepage .loremipsumdolorsi1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1825px;
  height              : auto;
  width               : 505px;
  position            : absolute;
  margin              : 0;
  left                : 167px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.1px;
  line-height         : 19.0px;
}
.homepage .rectanglecopy10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2194px;
  height              : 511px;
  width               : 753px;
  position            : absolute;
  margin              : 0;
  left                : 40px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .rectanglecopy11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2194px;
  height              : 511px;
  width               : 385px;
  position            : absolute;
  margin              : 0;
  left                : 949px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .bitmap8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2208px;
  height              : 449px;
  width               : 271px;
  position            : absolute;
  margin              : 0;
  left                : 1024px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.28;
}
.homepage .bitmapcopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2219px;
  height              : 435px;
  width               : 290px;
  position            : absolute;
  margin              : 0;
  left                : 78px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.41;
}
.homepage .rectangle3 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 1794px;
  height              : 4px;
  width               : 140px;
  position            : absolute;
  margin              : 0;
  left                : 167px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .group10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2809px;
  height              : 83px;
  width               : 293px;
  position            : absolute;
  margin              : 0;
  left                : 950px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .group10 .fill1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 61px;
  width               : 53px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .group10 .group9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 83px;
  width               : 236px;
  position            : absolute;
  margin              : 0;
  left                : 57px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .group10 .group9 .group91 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 83px;
  width               : 236px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .rectanglecopy9 {
  background-color    : rgba(255, 255, 255, 0.5);
  top                 : 1794px;
  height              : 4px;
  width               : 332px;
  position            : absolute;
  margin              : 0;
  left                : 307px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .rectangle4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2113px;
  height              : 592px;
  width               : 876px;
  position            : absolute;
  margin              : 0;
  left                : 241px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .contactcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2809px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 510px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 0.27px;
  line-height         : 19.0px;
}
.homepage .contactcopy .span1 {
  text-align          : justify;
}
.homepage .contactcopy .span2 {
  text-align          : justify;
  letter-spacing      : 0.25px;
}
.homepage .termsconditionscopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2809px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 157px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 0.27px;
  line-height         : 19.0px;
}
.homepage .linecopy21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2292px;
  height              : 4px;
  width               : 1370px;
  position            : absolute;
  margin              : 0;
  left                : 1445px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .loremipsumdolorsicopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2837px;
  height              : auto;
  width               : 248px;
  position            : absolute;
  margin              : 0;
  left                : 510px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 8.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 0.27px;
  line-height         : 10.0px;
}
.homepage .loremipsumdolorsicopy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2837px;
  height              : auto;
  width               : 248px;
  position            : absolute;
  margin              : 0;
  left                : 157px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 8.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 0.27px;
  line-height         : 10.0px;
}
.homepage .bitmap9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2147px;
  height              : 504px;
  width               : 337px;
  position            : absolute;
  margin              : 0;
  left                : 284px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .john {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2201px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 702px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 92.0px;
  color               : rgba(190, 190, 190, 1.0);
  text-align          : left;
  letter-spacing      : -2.7px;
  line-height         : 110.0px;
}
.homepage .smith {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2281px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 769px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 92.0px;
  color               : rgba(190, 190, 190, 1.0);
  text-align          : left;
  letter-spacing      : -2.7px;
  line-height         : 110.0px;
}
.homepage .loremipsumdolorsi2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2443px;
  height              : auto;
  width               : 391px;
  position            : absolute;
  margin              : 0;
  left                : 664px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : left;
  letter-spacing      : 0.08px;
  line-height         : 17.0px;
}
.homepage .brandmanagermobi {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2391px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 839px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 0, 0, 0.59);
  text-align          : left;
  letter-spacing      : 0.08px;
  line-height         : 17.0px;
}
.homepage .brandmanagermobi .span1 {
  text-align          : justify;
}
.homepage .brandmanagermobi .span2 {
  color               : rgba(153, 153, 153, 1.0);
  text-align          : justify;
}
.homepage .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 40px;
  height              : 172px;
  width               : 574px;
  position            : absolute;
  margin              : 0;
  left                : 99px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .group2 .group21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 172px;
  width               : 574px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .group101 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 71px;
  height              : 49px;
  width               : 171px;
  position            : absolute;
  margin              : 0;
  left                : 128px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .group101 .fill1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 36px;
  width               : 31px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .group101 .group9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 49px;
  width               : 138px;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .group101 .group9 .group91 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 49px;
  width               : 138px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .products {
  background-color    : rgba(255,255,255,0.0);
  top                 : 74px;
  height              : auto;
  width               : 169px;
  position            : absolute;
  margin              : 0;
  left                : 841px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(136, 136, 136, 1.0);
  text-align          : left;
  letter-spacing      : 0.67px;
  line-height         : 19.0px;
}
.homepage .applyforcopy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 74px;
  height              : auto;
  width               : 169px;
  position            : absolute;
  margin              : 0;
  left                : 966px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(136, 136, 136, 1.0);
  text-align          : left;
  letter-spacing      : 0.67px;
  line-height         : 19.0px;
}
.homepage .rectanglecopy19 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 61px;
  height              : 44px;
  width               : 147px;
  position            : absolute;
  margin              : 0;
  left                : 1124px;
  border-radius       : 21px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .rectanglecopy20 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 61px;
  height              : 44px;
  width               : 129px;
  position            : absolute;
  margin              : 0;
  left                : 1092px;
  border-radius       : 21px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .signup {
  background-color    : rgba(255,255,255,0.0);
  top                 : 73px;
  height              : auto;
  width               : 193px;
  position            : absolute;
  margin              : 0;
  left                : 1120px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.67px;
  line-height         : 19.0px;
}
.homepage .whykistpaycopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 71px;
  height              : auto;
  width               : 185px;
  position            : absolute;
  margin              : 0;
  left                : 679px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AzoSans-Bold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(136, 136, 136, 1.0);
  text-align          : left;
  letter-spacing      : 0.67px;
  line-height         : 23.0px;
}
.homepage .group9copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 72px;
  height              : 23px;
  width               : 23px;
  position            : absolute;
  margin              : 0;
  left                : 1229px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .group9copy .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 18px;
  width               : 23px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .group9copy .group3 .group31 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 18px;
  width               : 23px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .group9copy .fill7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : 3px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .group9copy .fill7copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : 3px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}