html {
	overflow: -moz-scrollbars-vertical;
	margin:0;
	padding:0;
	-webkit-font-smoothing: antialiased;
}
body {
	background:#dcdbdb;
	color:#221;
	font-family:'Open Sans', sans-serif;
	line-height:18px;
}
body { font-size:12px; }
legend {
	font-size: 18px;
	padding: 7px 0px
}
label { font-weight:normal; }
form {
	padding:0;
	margin:0;
	display:inline;
}
img { vertical-align:inherit; }
a, a b {
	color:#b43e51;
	text-decoration: none;
	cursor: pointer;
}
a:hover, a b:hover {
	text-decoration:none;
	color:#000;
}
a:focus { outline:none; }

.title { margin:0px 0px 20px 0px; }

.subtitle {
	position:relative;
	padding:0px;
	margin:0px 0px 20px 0px;
	line-height:normal;
	font-size:20px;
	color:#000000;
	border-bottom:2px solid #ddd;
	padding-bottom:3px;
}
.subtitle .viewall { font-size:12px; }

.title-404 {
	font-size:300px;
	font-weight:bold;
	line-height: 1em;
	font-family:Arial, Helvetica, sans-serif;
}

.wrapper-box {
	max-width:1220px;
	margin:0px auto;
	background:#fff;
	box-shadow:0px 0px 10px rgba(0, 0, 0, 0.2);
}
.wrapper-wide {
	max-width:100%;
	background:#fff;
	box-shadow:0px 0px 10px rgba(0, 0, 0, 0.08);
}
.main-wrapper {
	max-width:1170px;
	margin:0px auto;
	padding:0 25px;
	clear:both;
}
#container {
	text-align:left;
	margin-top:20px;
	margin-bottom:20px;
}
#content { min-height:400px; }

#header {
	position: relative;
	padding:0px;
}
#header .htop { background:#b43e51; }
#header .header-row {
	position:relative;
	padding:25px 0;
}
#header .header-row .inner { padding:0; }
#header #logo img { display:inline-block!important; }
#header ul, #header ol {
	list-style:none;
	padding:0;
	margin:0;
}
.table-container {
	display: table;
	width: 100%;
	table-layout: fixed;
}
.table-container .col-table-cell {
	display: table-cell;
	vertical-align: middle;
	float: none;
}


#header #cart {
	position:relative;
	text-align:right;
}
#header #cart .heading .cart-icon {
	width:20px;
	height:16px;
	background:#b43e51;
	position:relative;
	margin-right:5px;
	margin-top:8px;
}
#header #cart .heading .cart-icon:before {
	clear:both;
	content:' ';
	display:block;
	width:14px;
	height:19px;
	top:-8px;
	left:3px;
	border:2px solid #b43e51;
	border-radius:50%;
	border-bottom:none;
	position:absolute;
}
#header #cart .heading .cart-icon:after {
	clear:both;
	content:' ';
	display:block;
	width:20px;
	height:2px;
	bottom:-2px;
	left:0px;
	border:1px solid #b43e51;
	border-top:none;
	position:absolute;
}
#header #cart .heading {
	text-decoration: none;
	font-size:14px;
	height:32px;
	color:#444;
	display:inline-block;
	position:relative;
	padding:0;
	background:none;
	border:none;
}
#header #cart .heading span {
	display:inline-block;
	line-height:32px;
}
#header #cart.open .heading { color:#000; }
#header #cart.open .heading span:after {
	clear:both;
	content:' ';
	display:block;
	width:0;
	height:0;
	border-style:solid;
	border-color:transparent transparent #b43e51 transparent;
	position:absolute;
	border-width:0px 7px 6px 7px;
	bottom:0px;
	left:50%;
	margin:0 0 0 -5px;
	z-index:1012;
}
#header #cart .dropdown-menu {
	padding:8px;
	margin:0;
	z-index:1011;
	background: #FFF;
	border:3px solid #b43e51;
	border-width:3px 0px 0px 0px;
	width:420px;
	border-radius:0px;
	right:0;
	left:auto;
}
#cart .dropdown-menu li > p { margin:30px 0; }
#header #cart .dropdown-menu .remove {
	border-radius:100%;
	padding:0px 4px;
	line-height:normal;
}
#cart .dropdown-menu > li > .table > tbody > tr > td {
	border-bottom: 1px solid #ddd;
	border-top:none 0px;
}

#header #search {
	position:relative;
	display:block;
}
#header .button-search {
	width:36px;
	height:36px;
	font-size:14px;
	z-index:2;
	position:absolute;
	right:0;
	cursor:pointer;
	float:right;
	background:none;
	border:none;
	color:#bbb;
	padding:0;
}
#header #search input {
	background:#FFF;
	padding:0 36px 0 10px;
	height:36px;
	font-size:13px;
	color:#333;
	outline:none;
	display:block;
	border-radius:0px;
	position:static;
}
#header #search input:focus {
	border-color:#bbb;
	box-shadow:none;
}
#header.style2 #logo { text-align:center; }
#header.style2 #logo a img { display:inline-block; }
#header.style2 #cart { text-align:left; }
#header.style2 #cart .dropdown-menu {
	left:0;
	right:auto;
}
#header.style3 #cart { text-align:right; }

#menu .navbar-collapse {
	padding-left:0px;
	padding-right:0px;
}
#menu.navbar {
	border-radius:0px;
	min-height:inherit;
}
#menu .navbar-nav {
	float:none;
	position:relative;
}
#menu .nav > li > a.home_link span {
	text-indent:-99999px;
	position:relative;
	background:#656565;
	width:12px;
	height:5px;
	display:inline-block;
	vertical-align:middle;
	margin:0 3px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#menu .nav > li > a.home_link span:before {
	clear:both;
	content:' ';
	display:block;
	width:0;
	height:0;
	border-style:solid;
	border-color:transparent transparent #656565 transparent;
	position:absolute;
	border-width:0 10px 9px;
	top:-9px;
	left:-4px;
	position:absolute;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#menu .nav > li > a.home_link span:after {
	clear:both;
	content:' ';
	display:block;
	width:12px;
	height:4px;
	border:1px solid #656565;
	border-width:0px 4px 0px 4px;
	position:absolute;
	bottom:-4px;
	left:0px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#menu .nav > li > a.home_link:hover span {
	background:#b43e51;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#menu .nav > li > a.home_link:hover span:before {
	border-bottom-color:#b43e51;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#menu .nav > li > a.home_link:hover span:after {
	border-color:#b43e51;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#menu {
	border-bottom:3px solid #d6d6d6;
	border-top:1px solid #d6d6d6;
	border-right:0;
	border-left:0;
	margin-bottom:0px;
}
#menu .nav > li { height:40px; }
#menu .nav > li > a {
	font-size:16px;
	color: #555;
	line-height:40px;
	text-decoration: none;
	padding:0px 10px 0px 10px;
	z-index: 1009;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#menu .nav > li:hover > a {
	color:#b43e51;
	background:#f3f3f3;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#menu .nav > li.sub:hover > a:after {
	clear:both;
	content:' ';
	display:block;
	width:0;
	height:0;
	border-style:solid;
	border-color:transparent transparent #b43e51 transparent;
	position:absolute;
	border-width:0px 7px 6px 7px;
	bottom:0px;
	left:50%;
	margin:0 0 0 -5px;
	z-index:1009;
}
#menu .nav > li .dropdown-menu { border-radius:0px; }
#menu .nav > li > .dropdown-menu {
	display: none;
	background:#fff;
	position:absolute;
	z-index:1010;
	padding:5px 0 0;
	border-top:3px solid #b43e51;
	border-bottom:0px none;
	border-left:0px none;
	border-right:0px none;
	font-size:12px;
}
#menu .nav > li:hover > .dropdown-menu.custom_block ul { display:table-cell; }
#menu .nav > li > .dropdown-menu > ul { display:table-cell; }
#menu .nav > li > div > .column a span, #menu .nav > li > div > ul li a span {
	font-size:18px;
	line-height:13px;
	position:absolute;
	right:8px;
}
#menu .nav > li > div > ul {
	position:relative;
	width:160px;
}
#menu .nav > li > div > ul li a { font-size:12px; }
#menu .nav > li ul + ul { padding-left: 20px; }
#menu .nav > li ul > li > a {
	text-decoration:none;
	padding:4px;
	display:block;
	min-width: 160px;
}
#menu .nav > li div > ul > li > a { color:#222; }
#menu .nav > li div > ul > li:hover > a { color:#b43e51; }
#menu .nav > li > div > ul { position:relative; }
#menu .nav > li > div > ul li + li { border-top:1px solid #eee; }
#menu .nav > li div > ul > li > a {
	font-size:13px;
	padding:7px 20px 7px 10px;
	display:block;
	color:#444;
	white-space:nowrap;
}
#menu .nav > li > div > ul li:hover > a { color:#b43e51; }
#menu .nav > li > .dropdown-menu li { position:relative; }
#menu .nav > li > .dropdown-menu li .dropdown-menu {
	background:#fff;
	position:absolute;
	z-index:1008;
	padding:0px;
	box-shadow:0 6px 12px rgba(0, 0, 0, 0.3);
	display:none;
	border-top:3px solid #b43e51;
	left:100%;
	margin-top:-32px;
}
#menu .nav > li.mega-menu.dropdown, #menu .nav > li.menu_brands.dropdown { position:static; }
#menu .nav > li.mega-menu > div {
	display:none;
	background:#fff;
	margin-left:0px!important;
	width:100%;
	position:absolute;
	padding:10px 0px 0px 0px;
}
#menu .nav > li.mega-menu > div > .column {
	position:relative;
	display:inline-block;
	margin:0px 0px 15px 0px;
}
#menu .nav > li.mega-menu > div > .column > a {
	font-weight:bold;
	font-size:13px;
	border-bottom:1px solid #ddd;
	margin-bottom:5px;
}
#menu .nav > li.mega-menu > div > .column > a, #menu .nav > li.mega-menu > div > .column > div > ul > li > a {
	padding:4px 0;
	display:block;
}
#menu .nav > li.mega-menu > div > .column:hover > a { color:#b43e51; }
#menu .nav > li.mega-menu > div > .column > div { display:block; }
#menu .nav > li.mega-menu > div > .column > div ul li { position:relative; }
#menu .nav > li.mega-menu > div .dropdown-menu ul li + li a { border-top:1px solid #eee; }
#menu .nav > li.menu_brands.name { position:relative; }
#menu .nav > li.menu_brands.name > div { padding:0px!important; }
#menu .nav > li.menu_brands > div {
	padding:15px 0px 0px!important;
	width:100%;
	margin-left:0px!important;
}
#menu .nav > li.menu_brands > div > div {
	text-align:center;
	margin-bottom:10px;
}
#menu .nav > li.menu_brands > div > div a {
	display:block;
	line-height:16px;
}
#menu .nav > li.menu_brands > div > div a img { display:inline-block; }
#menu .nav > li.custom-link-right, #menu.center .nav > li.custom-link-right { float:right; }
#menu .nav > li.wrap_custom_block > div.custom_block { padding:5px; }

#menu.center .navbar-nav{text-align: center;}
#menu.center .nav > li{display: inline-block; float: none;}

.custom_block p {
	line-height:18px;
	margin:0;
}
.custom_block a, #menu .nav > li.wrap_custom_block > div.custom_block a { display:inline-block; }
.custom_block { line-height:normal; }
.custom_block td, .custom_block th { padding:5px; }
.custom_block h1, .custom_side_block h1 {
	font-size:28px;
	margin-top:0px;
}
.custom_block h2, #custom_side_block h2 {
	font-size:24px;
	margin-top:0px;
}
.custom_block h3, #custom_side_block h3 {
	font-size:22px;
	margin-top:0px;
}
.custom_block h4, #custom_side_block h4 {
	font-size:20px;
	margin-top:0px;
}
.custom_block h5, #custom_side_block h5 {
	font-size:18px;
	margin-top:0px;
}
.custom_block .btn-sm { padding:5px 10px !important; }

.breadcrumb {
	color:#c2c2c2;
	margin-bottom:10px;
	background:none;
	padding:0;
	border-radius:0px;
}
.breadcrumb a {
	color:#999;
	font-size:11px;
}
.breadcrumb a:hover {
	color:#2f4a90;
	text-decoration:underline;
}

.category-list-thumb, .category-list { margin-bottom:15px; }
.category-list-thumb > div {
	text-align:center;
	vertical-align:top;
	margin-bottom:10px;
}
.category-list-thumb > div img {
	max-width:100%!important;
	border:1px solid #dddddd;
	padding:3px;
}
.category-list .div a {
	text-decoration: underline;
	font-weight: bold;
}

#list-view, #grid-view {
	font-size:18px;
	padding:0;
	background:none;
	margin-right:10px;
	color:#555;
}
#list-view:hover, #grid-view:hover { color:#000; }
#list-view:active, #grid-view:active {
	color:#444;
	box-shadow:none;
}
#list-view.selected, #grid-view.selected {
	color:#999;
	cursor:default;
}

.product-filter {
	border:1px solid #EAEAEA;
	background:#F6F6F6;
	padding:6px 5px;
	line-height:25px;
}
.product-filter .form-control {
	padding:2px 12px;
	height:auto;
}
.product-list.row, .products-category.row { margin:0; }

.owl-carousel { margin-bottom:20px; }
.owl-carousel .product-thumb .image { margin-bottom:5px; }
.owl-carousel .product-thumb {
	padding:7px;
	margin:0px 3px 0px 0px;
	position:relative;
	text-align: center;
	border:3px solid transparent;
}
@media only screen and (min-width:1025px) {
.owl-carousel .product-thumb:hover {
border-color:#eae9e9;
}
}
.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}

.product-thumb .image { text-align: center; }
.product-thumb .image a { display: block; }
.product-thumb .image a img { display:inline-block; }
.product-thumb h4 {
	margin:0;
	padding-bottom:0px;
}
.product-thumb h4 a {
	font-size:13px;
	line-height:18px;
	text-decoration: none;
	display:inline-block;
	margin:0 auto;
	padding:0px;
	color:#333;
}
.product-thumb h4 a:hover { text-decoration:underline; }
.product-thumb .button-group button { border: none; }
.product-thumb .button-group .btn-primary {
	padding:4px 8px;
	margin-bottom:7px;
	font-size:11px;
	height:auto;
	text-transform:uppercase;
	font-family:Arial, Helvetica, sans-serif;
	line-height:normal;
}
.product-thumb .button-group .add-to-links button {
	background:none;
	color:#666;
	font-size:15px;
}
.product-thumb .button-group .add-to-links button:hover {
	color:#b43e51;
	cursor: pointer;
}
.product-thumb .rating { padding-bottom:7px; }
.product-thumb .rating span { vertical-align:top; }
.product-thumb .price-tax {
	color: #999;
	font-size: 12px;
	display: block;
	font-weight:normal;
}
.product-thumb .price {
	margin:10px 0;
	font-size:13px;
	font-weight: bold;
}
.price-old {
	color: #F00;
	text-decoration: line-through;
	font-weight:normal;
	font-size:12px;
}
.price-new { font-weight: bold; }
.price, .price-new { color:#b43e51; }
.saving {
	background:#f12b63;
	border-radius: 100% 100% 100% 100%;
	color: #FFFFFF;
	display: block;
	font-size: 13px;
	font-weight:bold;
	height:40px;
	line-height:40px;
	position: absolute;
	right: 10px;
	text-align: center;
	top: 10px;
	width: 40px;
}

.product-grid {
	position: relative;
	text-align:center;
	vertical-align:top;
	background:#fff;
	padding:7px 7px 7px 7px;
	border:3px solid transparent;
	margin-bottom:15px;
}
.product-grid:hover { border-color:#eae9e9; }
.product-grid .product-thumb .image { margin-bottom:5px; }
.product-grid .product-thumb .image { float: none; }
.product-grid .product-thumb .description, .product-grid .product-thumb .price-tax, .owl-carousel .product-thumb .price-tax { display:none; }
.product-grid .product-thumb .button-group .add-to-links button, .owl-carousel .product-thumb .button-group .add-to-links button, {
padding:2px 6px;
}
@media only screen and (min-width:1025px) {
.product-grid .product-thumb .button-group .add-to-links, .owl-carousel .product-thumb .button-group .add-to-links {
visibility:hidden;
}
}
.product-grid:hover .product-thumb .button-group .add-to-links, .owl-carousel .product-thumb:hover .button-group .add-to-links { visibility:visible; }
.product-grid .product-thumb .button-group .add-to-links button span { display:none; }

.product-list {
	position:relative;
	padding:20px 0px;
	border-top:2px solid #eae9e9;
}
.product-list:first-child { border-top:none; }
.product-list .image {
	float:left;
	margin-right:15px;
}
.product-list .product-thumb h4 { margin-bottom:8px; }
.product-list .product-thumb h4 a {
	font-weight: bold;
	font-size:15px;
}
.product-list .product-thumb .description { margin-bottom:0px; }
.product-list .product-thumb .button-group .btn-primary {
	float:left;
	margin-right:5px;
}
.product-list .product-thumb .button-group .add-to-links {
	float:left;
	padding:1px 0px;
	display:inline-block;
}
.product-list .product-thumb .button-group .add-to-links button span { font-size:12px; }
.product-list .saving {
	top:25px;
	left:16px;
}

.pagination { margin:0px; }
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus { background: #b43e51; }
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span { border-radius:0px; }
.pagination > li > a, .pagination > li > span { color:#b43e51; }

.product-info { margin-bottom: 20px; }
.product-info .image {
	position:relative;
	text-align:center;
}
.product-info .zoomWrapper { display:inline-block; }
.product-info span.zoom-gallery {
	font-size:11px;
	line-height: 11px;
	font-style:italic;
	color:#666;
	padding:1px 0;
}
@media screen and (max-width: 768px) {
    .zoomContainer {
        display: none;
    }
}
.product-info span.zoom-gallery .fa { font-size:13px; }
.product-info .image .zoomWrapper:after {
	visibility:hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.product-info .image-additional {
	overflow: hidden;
	margin-left: -7px;
	margin-top:15px;
}
.product-info .image-additional img {
	max-width:75px;
	height:auto;
	display:block;
}
#column-left + #content .product-info .image-additional img, #column-right + #content .product-info .image-additional img { max-width:66px; }
.product-info .image-additional a {
	float: left;
	display: block;
	margin-left:7px;
	border-radius:0px;
	margin-bottom:15px;
}
.product-info .image-additional a:hover, .product-info .image-additional a:focus, .product-info .image-additional a:active { border-color:#bbb; }
.product-info .image-additional a.active {
	opacity:0.5;
	outline: 0;
	cursor:default;
}
.product-info .description {
	line-height:25px;
	font-size:13px;
	margin-bottom:15px;
}
.product-info .instock {
	background:#53af2e;
	color:#fff;
	padding:2px 8px;
	border-radius:2px;
	font-weight:bold;
}
.product-info .nostock {
	background:#da4f49;
	color:#fff;
	font-weight:bold;
	padding:2px 8px;
	border-radius:2px;
}
.product-info .price-box {
	background:#F4F3F3;
	border:1px solid #eee;

	padding:10px 5px;
	margin-bottom:20px;
}
.product-info .price {
	font-size:28px;
	font-weight: bold;
	color: #b43e51;
	line-height:24px;
}
.product-info .price-old {
	color:#F00;
	font-size:80%;
	text-decoration: line-through;
	font-weight:normal;
}
.product-info .cart {
	border-bottom: 1px solid #eae9e9;
	padding:5px 0px 20px;
	margin-bottom:15px;
	color: #4D4D4D;
	overflow: auto;
}
.product-info .cart div {
	vertical-align: middle;
	float:left;
}
.product-info .cart div.text-or { padding:5px 6px 0; }
.product-info .cart div > span {
	padding-top: 7px;
	display: block;
	color: #999;
}
.product-info .cart div .wishlist {
	font-size:11px;
	display:inline-block;
	padding-top:3px;
	border:none;
	background:none;
	margin-left:15px;
}
.product-info .cart div .wishlist .fa { font-size:14px; }
.product-info .cart div .wishlist:hover { text-decoration:underline; }
.product-info .cart #button-cart {
	padding:11px 15px;
	text-transform: uppercase;
}
.product-info .cart .minimum {
	padding-top:5px;
	font-size: 11px;
	color: #999;
	clear: both;
}
.product-info .cart div .qty {
	margin-right:20px;
	float:left;
}
.addthis_toolbox {
	display:table;
	width:100%;
}

.qty .control-label {
	margin-right:10px;
	margin-bottom:0px;
	float:left;
	padding:12px 0;
	display:inline-block;
}
.qty a {
	background: url("../image/plus.png") no-repeat 2px 2px #f5f5f5;
	display: inline-block;
	height:20px;
	width:20px;
	position: relative;
	text-indent: -9999px;
	border:1px solid #ccc;
	border-width:1px 1px 0px 0px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	outline:none;
}
.qty a.minus {
	background-position:2px -13px;
	border-width:1px 1px 1px 0px;
}
.qty a:hover {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color:#fff;
}
.qty #button-cart, .qty #input-quantity {
	float:left;
	font-size:15px;
	width:44px;
	padding-left:2px;
	padding-right:2px;
	height:40px;
	text-align:center;
}

#column-right .side-item .product-thumb, #column-left .side-item .product-thumb {
	padding:0px 0px 7px 0px;
	text-align:left;
	border:0px none;
	margin:0;
	clear:both;
}
#column-right .side-item .product-thumb + .product-thumb, #column-left .side-item .product-thumb + .product-thumb {
	border-top:1px dotted #ccc;
	padding-top:7px;
}
#column-right .side-item .product-thumb .image, #column-left .side-item .product-thumb .image {
	float:left;
	margin-right:8px;
	margin-bottom:0px;
	width:50px;
}
#column-right .side-item .product-thumb .caption, #column-left .side-item .product-thumb .caption {
	float:left;
	max-width:202px;
}
#column-right .side-item .product-thumb h4, #column-left .side-item .product-thumb h4 { margin-bottom:2px; }
#column-right .side-item .product-thumb h4 a, #column-left .side-item .product-thumb h4 a {
	font-size:12px;
	display:block;
}
#column-right .side-item .product-thumb .price, #column-left .side-item .product-thumb .price {
	padding:0;
	margin:0px 0 2px 0;
	font-size:12px;
}
#column-right .side-item .product-thumb .saving, #column-left .side-item .product-thumb .saving {
	position:relative;
	line-height:normal;
	padding:0 3px;
	width:auto;
	height:auto;
	top:0px;
	left:0px;
	font-size:11px;
	border-radius:0px;
	display:inline-block;
}

.box-category ul, .list-item {
	list-style: none;
	margin-bottom:20px;
	margin-top:-5px;
	padding:0;
}
.box-category > ul > li, .list-item > li {
	display: block;
	position: relative;
}
.box-category .down {
	top:2px;
	right: 0;
	position: absolute;
	cursor: pointer;
	width:16px;
	height:24px;
	background: transparent url(../image/plus.png) 0px 4px no-repeat;
	opacity: 0.6;
	-moz-opacity: 0.6;
}
.box-category .down:hover {
	opacity: 1;
	-moz-opacity: 1;
}
.box-category ul li a, .list-item li a {
	padding:5px 0px 5px 12px;
	color:#222;
	display: block;
	background: transparent url(../image/bullet-dark.png) 0px 10px no-repeat;
}
.box-category ul li.double a {
	display: inline-block;
	margin: 0;
}
.box-category ul li { position: relative; }
.box-category ul li ul li + li { border-top:1px dotted #ccc; }
.box-category > ul > li a.active + .down { background-position: 0px -12px; }
.box-category > ul > li > a {
	color: #333;
	text-transform: uppercase;
}
.box-category > ul > li ul {
	display: none;
	padding-left: 10px;
	margin-bottom:5px;
}
.box-category > ul > li a.active { font-weight: bold; }
.box-category > ul > li > a.active { margin-bottom:5px; }
.box-category > ul > li a.active + ul { display: block; }
.box-category a:hover, .list-item a:hover {
	text-decoration:underline;
	color:#b43e51;
}
.box-category > ul > li ul li a { margin-right: 16px; }
.box-category > ul > li ul li a:hover, .list-item a:hover { margin-right: 16px; }
.box-category > ul > li ul > li > a { text-decoration: none; }

.buttons {
	border-top:1px solid #EEEEEE;
	overflow: auto;
	padding:15px 6px 0px 6px;
	margin-bottom: 20px;
}
.btn {
	padding:6.2px 12px;
	border:0px none;
	border-radius:0px;
	box-shadow:none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.btn:hover {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover, .dropdown-menu { font-size: 12px; }
.btn-group > .btn-lg { font-size: 15px; }
.btn-default {
	color: #444;
	background-color: #e7e7e7;
}
.btn-default:hover {
	background:#444;
	color:#fff;
}
.btn-primary {
	background-color:#b43e51;
	color:#ffffff;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background:#444;
	color:#fff;
}
.btn-warning {
	color: #ffffff;
	background-color: #faa732;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] { box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1); }
.btn-danger {
	color: #ffffff;
	background-color: #da4f49;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] { box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1); }
.btn-success {
	color: #ffffff;
	background-color: #5bb75b;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] { box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1); }
.btn-info {
	color: #ffffff;
	background-color: #df5c39;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}
.btn-link {
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	color: #b43e51;
	border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	box-shadow: none;
}
.btn-inverse {
	color: #ffffff;
	background-color: #363636;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	background-color: #222222;
	color: #ffffff;
}

.nav-tabs > li > a.selected {
	color:#111;
	padding-bottom:5px;
	background:#FFFFFF;
	border-top: 2px solid #ddd;
	border-left:2px solid #ddd;
	border-right:2px solid #ddd;
	font-weight: bold;
}
.nav-tabs {
	margin-bottom:0px;
	border-width:2px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	border-width:2px;
	font-weight:bold;
}
.nav-tabs > li { margin-bottom:-2px; }
.nav-tabs > li > a:hover {
	border-color:transparent;
	color:#444;
}
.nav-tabs > li > a {
	border-radius:0px;
	color:#666;
}
.tab-content {
	padding:15px 15px 10px;
	margin-bottom: 20px;
	z-index:2;
	border:2px solid #ddd;
	border-top:0px;
}
#tab-description ul {
	margin-left:20px;
	margin-bottom:15px;
}
.tab-sub {
	position:absolute;
	right:70px;
	top:-46px;
	border:none;
	padding:0;
	height:25px;
	line-height:25px;
}
.tab-sub a {
	padding:0px 7px;
	font-size:12px;
}
.tab-sub a.selected {
	padding:0px 10px;
	position:relative;
	border-width:2px;
	line-height:24px;
}
.tab-sub a.selected:hover {
	text-decoration:none;
	cursor:default;
}
.tab-sub a:hover { text-decoration:underline; }
.category-module-content { position:relative; }
.category-module .tabs {
	position:absolute;
	right:70px;
	top:-46px;
	height:25px;
	line-height:25px;
}
.category-module .tabs li {
	float:left;
	list-style-type:none;
}
.category-module .tabs li a {
	padding:0px 7px;
	font-size:12px;
	display:inline-block;
	color:#333;
}
.category-module .tabs li.active a {
	position:relative;
	line-height:24px;
	color:#111;
	background:#FFFFFF;
	border-top: 2px solid #ddd;
	border-left:2px solid #ddd;
	border-right:2px solid #ddd;
	font-weight: bold;
}
.category-module .tabs li.active a:hover {
	text-decoration:none;
	cursor:default;
}
.category-module .tabs li a:hover {
	text-decoration:underline;
	color:#004B91;
}
.product-tab { margin-bottom:20px; }
.product-tab .tabs {
	height:32px;
	line-height:15px;
	padding-left:10px;
	border-bottom:2px solid #ddd;
	margin-bottom:20px;
}
.product-tab .tabs li {
	float:left;
	list-style-type:none;
}
.product-tab .tabs li a {
	padding:7px 15px 6px 15px;
	float:left;
	font-size:18px;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	color: #222;
	margin-right: 2px;
	opacity:0.7;
	border-top:2px solid #fff;
	border-left:2px solid #fff;
	border-right:2px solid #fff;
}
.product-tab .tabs li.active a {
	opacity:1;
	padding-bottom:8px;
	background: #FFFFFF;
	border-top:2px solid #ddd;
	border-left: 2px solid #ddd;
	border-right:2px solid #ddd;
}
.product-tab .deactive, .category-module .deactive { display:none; }
.addthis_default_style > a { padding:0 }


#footer .fpart-first {
	background-color:#f3f3f3;
	color:#444;
	padding-top:50px;
	padding-bottom:50px;
}
#footer .fpart-first a { color:#888; }
#footer .fpart-first a:hover {
	color:#b43e51;
	text-decoration:underline;
}
#footer .fpart-first ul { padding:0; }
#footer .fpart-second {
	background-color:#fff;
	color:#666;
	padding:25px 0px 0px
}
#footer .fpart-second a { color:#b43e51; }
#footer .fpart-second a:hover {
	color:#b43e51;
	text-decoration:underline;
}
#footer .custom-text { padding:0px 0px 25px; }
#footer .custom-text p { margin:0; }
#footer h5 {
	color:#000;
	font-size:17px;
	margin:0px 0 15px 0;
	padding:0px 0px 7px 0px;
	font-weight:normal;
}
#footer .column ul li { list-style-type:none; }
#footer .column a {
	text-decoration: none;
	display:block;
	padding:3px 0px;
	line-height:18px;
	font-size:12px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#footer .column a:hover {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#footer .contact ul li {
	font-size:12px;
	list-style-type:none;
	line-height:20px;
	padding-left:22px;
	position:relative;
}
#footer .contact > ul > li > .fa { position:static; left:0px; top:1px;}
#footer .contact > ul > li > .fa-map-marker { font-size:18px; }
#footer .contact > ul > li > .fa-phone { font-size:18px; }
#footer .contact > ul > li > .fa-envelope { font-size:15px; }
#footer .contact ul li + li { margin-top:12px; }.form-control, .input-group-addon
#footer .contact ul li.email a { text-decoration:underline; }
#footer .contact ul li a {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#footer .contact ul li a:hover {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	text-decoration:none;
}

#footer .payments_types {
	text-align:right;
	padding:0px 0 25px 0;
}
 @media only screen and (max-width:500px) {

#footer .payments_types {
	text-align:center;
	padding:0px 0 25px 0;
}
}

#footer .payments_types img {
	display:inline-block;
	margin:0px 3px 3px 3px;
	vertical-align:middle;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#footer .payments_types img:hover {
	opacity:0.7;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}


#footer #powered {
	line-height:20px;
	padding:0px 0 25px;
	margin-bottom:25px;
	border-bottom:1px solid #E8E8E8;
}
#footer #powered a {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#footer #powered a:hover {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#footer .powered_text { padding-top:6px; }
#footer .powered_text p {
	line-height:18px;
	margin:0;
}

#back-top { display:none; }
#back-top a {
	position:fixed;
	bottom:0px;
	right:10px;
	background-color:rgba(0, 0, 0, 0.2);
	width:45px;
	height:30px;
	text-align:center;
	color:#fff;
	display:block;
	font-size:20px;
	line-height:28px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#back-top a:hover {
	background-color:#b43e51;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.sort-order-1 {
	top:210px;
	z-index:10000;
}
.sort-order-2 {
	top:270px;
	z-index:9999;
}
.sort-order-3 {
	top:330px;
	z-index:9998;
}
.sort-order-4 {
	top:390px;
	z-index:9997;
}


.col-xs-5ths, .col-sm-5ths, .col-md-5ths, .col-lg-5ths {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.col-xs-5ths {
	width: 20%;
	float: left;
}


.alert { border-radius:0px }
.divider {
	clear:both;
	height:40px;
}
.dropcap {
	display: block;
	float: left;
	font-size:40px;
	line-height: 1em;
	margin:0px 5px 0 0;
}
blockquote { font-size:12px; }
h4.panel-title { padding:0 }
.alert {
	padding-left:50px;
	position:relative;
}
.alert .fa {
	font-size:20px;
	left:18px;
	position:absolute;
}
.simple-ul {
	margin:0 0 15px 0;
	padding: 0;
	list-style: none;
}
.simple-ul li {
	position: relative;
	padding-left: 15px;
	margin-bottom: 5px;
}
.simple-ul li:after {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	content: "";
	font-family: fontawesome;
}
.simple-ul ul {
	margin: 10px 0 10px 0;
	padding: 0;
	list-style: none;
}
.simple-ul ul li:after {
	content: "•";
	font-size: 1em;
}
.decimal-list {
	margin:0px 0 15px 20px;
	padding: 0;
	list-style: decimal outside;
}
.decimal-list li {
	padding-left: 0;
	margin-bottom: 5px;
	text-indent: 0;
}
.decimal-list ul {
	margin: 5px 0 5px 17px;
	padding: 0;
	list-style: decimal outside;
}

.featured-box{position:relative; margin-bottom:20px;}
.featured-icon{border-radius: 50%;
    color: #fff;
	background-color:#b43e51;
    display: inline-block;
    font-size: 40px;
    height: 110px;
    line-height: 110px;
    margin:5px;
    position: relative;
    text-align: center;
    width: 110px;
    z-index: 1;}
.featured-box h4{font-size:22px;}

.feature-box{margin-bottom:20px;}
.feature-box .feature-icon{
    color: #b43e51;
    display: inline-block;
    font-size: 40px;
    height:40px;
    text-align: center;
    width:40px; float:left;}
.feature-box .feature-content{padding-left:50px;}
.feature-box h4{font-size:22px; margin-top:0;}

.infographic{position:relative; margin-top:30px;}
.infographic-inner{padding-bottom:50px;}
.infographic .infographic-inner:before{content: "";
    display: block;
    height:15px;
    left: 50%;
    margin-left: -22px;
    position: absolute;
    bottom:-5px;
    width:44px;
	background:#bbb;}
.infographic .infographic-inner:after{
    content: "";
    display: block;
    height: 100%;
    left: 50%;
    margin-left: -4.5px;
    position: absolute;
    top:5px;
    width:9px;
    z-index: 0;
	border:2px solid #bbb;
	border-bottom:none;
	border-top:none;
	}
	
.infographic-box{width:50%; position:relative;}
.infographic-box-inner{width:80%; position:relative; background:#00a9a6; padding:15px; color:#fff; z-index:1;}

.infographic-box .infographic-year{position:absolute; right:-80px; color:#000; font-size:26px; top:6px; font-weight:600;}
.infographic-box:after{clear:both;
	content:' ';
	display:block;
	width:100%;
	height:4px;
	background:#00a9a6;
	position:absolute;
	top:15px;
	right:0;}
.infographic-box:before{clear:both;
	content:' ';
	display:block;
	width:25px;
	height:25px;
	background:#fff;
	z-index:1;
	position:absolute;
	border:7px solid #00a9a6;
	border-radius:50%;
	top:3px;
	right:-12px;}
.infographic-box.pull-right{margin-top:140px;}
.infographic-box.pull-right:after{left:0;}
.infographic-box.pull-right:before{left:-12px;}
.infographic-box.pull-right .infographic-year{left:-80px;}
.infographic-box h4{margin-top:0px; font-weight:600}
.infographic-box.dark-blue:before{border-color:#325b87;}
.infographic-box.dark-blue:after, .infographic-box.dark-blue .infographic-box-inner{background:#325b87;}
.infographic-box.red:before{border-color:#ee312d;}
.infographic-box.red:after, .infographic-box.red .infographic-box-inner{background:#ee312d;}
.infographic-box.orange:before{border-color:#f7982c;}
.infographic-box.orange:after, .infographic-box.orange .infographic-box-inner{background:#f7982c;}

.form-control,.input-group-addon { border-radius:0px; }
.radio-inline + .radio-inline .checkbox-inline + .checkbox-inline{margin-left:10px;}
input[type="radio"], input[type="checkbox"]{margin-top:2px;}
.checkbox-inline input[type="checkbox"]{margin-top:3px;}
.img-thumbnail { border-radius:0px; max-width: 50px; }
.img-logo { border-radius:0px; max-height: 75px; max-width: 300px;}
.img-thumbnail-list { border-radius:0px; max-width: 50px; max-height: 50px; }
.img-thumbnail-big { border-radius:0px; max-width: 75px; }
.img-mydetail { border-radius:0px; max-width: 300px; max-height: 200px; }
.img-listing { border-radius:0px; min-height:100px; max-height: 100px; }
.well { border-radius:0px }
.panel, .panel-heading { border-radius:0px; }
.panel-group .panel { border-radius:0px; }
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg { display: inline; }
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}

@media (max-width: 1199px) {
.main-wrapper {
padding:0 20px;
}
#column-right .side-item .product-thumb .caption, #column-left .side-item .product-thumb .caption {
width:152px;
}
}
 @media only screen and (min-width:992px) {

#footer ul, .left-top {
display:block!important;
}
}
 @media (max-width: 991px) {
body {
-webkit-text-size-adjust: auto;
}

.main-wrapper {
margin:0px;
padding:0 10px;
}
.wrapper-box {
margin:0;
}

#header .header-row {
text-align:center;
padding:30px 0;
}
#header #logo a img {
display:inline-block;
}
.img-logo{
border-radius: 0px;
max-height: 75px; max-width: 105px;
float:left;
}
.table-container .col-table-cell {
float:left;
vertical-align:top;
}
.drop-icon {
width:45px;
height:35px;
line-height:35px;
text-align:center;
font-size:23px;
cursor:pointer;
float:left;
display:inline-block;
color:#fff;
}
.left-top {
min-width:160px;
background:#b43e51;
position:absolute;
top:35px;
z-index:99;
padding:5px 0;
display:none;
}
.left-top #language, .left-top #currency {
float:none;
border:none!important;
display:block;
}
.left-top #language > .btn-group, #currency > .btn-group {
display:block;
}
#header .links {
float:none;
border:none;
}
#header .links > ul > li {
float:none;
display:block;
border:none!important;
line-height:30px;
}
#header .links, #language, #currency, #header #top-links {
border:none!important;
}
#header #search {
position:relative;
margin-top:0px;
}
#header #cart {
margin-top:10px;
margin-bottom: -15px;
text-align:left;
}
#header #cart .dropdown-menu {
right:auto;
left:0;
}
#header.style2 #cart {
margin-top:auto;
margin-bottom:10px;
text-align:center;
}
#header.style2 #cart .dropdown-menu {
left: 50%;
margin-left: -210px;
}
#header.style3 #cart {
text-align:left;
}

#menu .navbar-header {
float:none;
}
#menu .navbar-nav {
margin:0px;
}
#menu .navbar-header > span {
text-transform:uppercase;
font-size:16px;
padding:0px 15px 0px 8px;
height:35px;
line-height:35px;
text-align:center;
margin:0;
cursor: pointer;
display:inline-block;
position:relative;
}
#menu .navbar-header > span > b {
display:inline-block;
}
#menu .navbar-header > span > b:after {
clear:both;
content:' ';
display:block;
width:0;
height:0;
border-style:solid;
border-color:#555 transparent transparent transparent;
position:absolute;
border-width:5px 6px 0px 6px;
bottom:48%;
margin:0 0 -6px 0px;
opacity:0.7;
}
#menu .navbar-header > span > b:before {
clear:both;
content:' ';
display:block;
width:0;
height:0;
border-style:solid;
border-color:transparent transparent #555 transparent;
position:absolute;
border-width:0px 6px 5px 6px;
top:49%;
margin:-6px 0 0 0px;
opacity:0.7;
}
#menu {
padding:0;
height:auto;
text-align:center;
}
#menu .navbar-nav {
text-align:left;
}
#menu .nav {
padding:0;
text-align:left;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}
#menu .nav > li, #menu.center .nav > li {
float:none;
padding:0px;
display:block;
height:auto;
}
#menu.center .navbar-nav{text-align:left;}
#menu .nav > li > a {
line-height:35px;
}
#menu .nav > li > div {
position:relative;
}
#menu .nav > li > div > ul {
display:block;
width:auto;
}
#menu .nav > li ul + ul {
padding-left:0px;
}
#menu .nav > li > .dropdown-menu ul > li {
position:relative;
}
#menu .nav > li.mega-menu > div {
width:100%;
}
#menu .nav > li.mega-menu.dropdown {
position: relative;
}
#menu .nav > li div > ul > li > a > span {
display:none;
}
span.submore:after {
display: block;
position: absolute;
right: 0;
top:0px;
width: 30px;
height:32px;
line-height:32px;
font-size:22px;
text-align:center;
cursor:pointer;
z-index:1010;
content:'+';
font-family:Arial, Helvetica, sans-serif;
color:#555;
opacity:0.6;
}
span.submore.plus:after {
content:'-';
}
#menu .nav > li.menu_brands.dropdown {
position:relative;
}
#menu .nav > li.mega-menu > div {
min-width:inherit;
position:relative;
}
#menu .nav > li.mega-menu > div > .column {
width:auto;
display:block;
margin:0;
}
#menu .nav > li.mega-menu > div > .column > div {
display:none;
position:relative;
}
#menu .nav > li.mega-menu > div > .column > div ul {
display:block;
}
#menu .nav > li.mega-menu > div > .column a, #menu .nav > li > div > ul li a, #menu .nav > li.mega-menu > div > .column > div > ul > li > a {
width:auto;
padding:7px 0;
margin:0;
}
#menu .nav > li.sub:hover > a:after {
display:none;
}
#menu .nav > li.custom-link-right, #menu.center .nav > li.custom-link-right {
float:none;
}
#menu .nav > li > .dropdown-menu, #menu .nav > li > .dropdown-menu li .dropdown-menu {
box-shadow:none;
float:none;
width:100%;
position:relative;
min-width:inherit;
margin-top:0px;
margin-left:0!important;
left:auto;
border:0px none;
}
#menu .nav > li .dropdown-menu ul {
display:block;
margin:0 10px;
}

#column-right .side-item .product-thumb .caption, #column-left .side-item .product-thumb .caption {
max-width:98px;
}

#footer .fpart-first {
padding-top:30px;
padding-bottom:10px;
}
#footer .column, #footer .contact, #footer .about_details {
margin-bottom:20px;
}
#footer .contact ul li {
float:left;
width:30%;
}
#footer .contact ul li + li {
margin:0 0 0 4%;
}
#footer .powered_text, #footer .social {
float:none!important;
text-align:center;
}
#footer .social {
text-align:center;
padding:12px 0 0;
margin:0px!important;
}
#footer .social a {
float:none;
display:inline-block;
}
#powered {
text-align:center;
width:100%;
line-height:normal;
padding-top:10px;
height:auto;
}
#custom_side_block, #facebook, #twitter_footer, #video_box {
display:none;
}

.product-list .left {
width:auto;
float:none;
}
.product-info > .left {
float:none;
margin-right:0px;
}
.product-info > .left + .right {
margin-left:auto;
}
.product-info .image {
float:none;
}
.mousetrap {
width:99%!important;
}
#cloud-zoom-big {
width:99%!important;
}
#wrap #zoom1 img {
display:inline-block!important;
}
.product-info .image-additional {
width:auto;
margin-bottom:10px;
max-width:none;
}
.product-info .image-additional a {
display:inline-block;
float:none;
}

#container .category-module h3 {
padding:0 0 30px 0;
text-align:center;
}
.category-module .tabs {
left:5px;
padding:0;
right:auto;
}
.category-module .tabs li a {
font-size:11px;
padding:0 5px;
}
.category-module .tabs li a.selected {
padding:0 5px;
}
.category-module .tabs li.active a {
padding-bottom:2px;
line-height:22px;
}
.table-container .col-table-cell {
padding:0px;
}

.infographic-box .infographic-year{font-size:18px; right:-60px;}
.infographic-box.pull-right .infographic-year{left:-60px;}

}
 @media (max-width: 767px) {

#header #cart, #header.style2 #cart, #header.style3 #cart {
text-align:center;
}
#header #cart .dropdown-menu {
left:50%;
margin-left:-210px;
}

#container .category-module .owl-theme .owl-controls .owl-buttons div {
top:-75px;
}

#footer .contact ul li {
float:none;
width:auto;
}
#footer .contact ul li + li {
margin:12px 0 0 0;
}
#footer h5 {
margin:0px 0px 5px;
}

.input-group.quantity .form-control {
float:none;
}
.input-group.quantity .input-group-btn, .input-group.quantity .form-control {
display:block
}

.infographic-box, .infographic-box-inner{width:100%;}
.infographic-inner{padding-bottom:10px;}
.infographic-box.pull-right{margin-top:0px;}
.infographic-box{padding-top:30px; margin-bottom:30px; text-align:center;}

.infographic-box:after{display:none;}

.infographic-box:before{right:50%; margin-right:-13px;}
.infographic-box.pull-right:before{left:inherit;}


.infographic-box .infographic-year{position:sticky; z-index:1; background:#fff; display:inline-block; font-size:18px; right:-60px; height:35px; line-height:35px; border-radius:2px; padding:0 15px; border:1px solid #ccc; margin:15px 0;}
.infographic-box.pull-right .infographic-year{left:-60px;}

}

@media screen and (max-width:320px) {
.img-logo{
border-radius: 0px;
max-height: 75px; max-width: 90px;
float:left;
}
}
 @media screen and (max-width:480px) {

#header #cart .dropdown-menu, #header.style2 #cart .dropdown-menu {
left:50%;
margin-left:-155px;
width:310px;
}
.product-info .cart {
text-align:center;
}
.product-info .cart div {
float:none;
}
.product-info .cart > div {
margin-bottom:10px;
}
.product-info .cart div .qty {
float:none;
display:inline-block;
}

.htabs {
padding-left:0;
}
.htabs a, .nav > li > a{
font-size:11px;
padding:7px 5px 6px 5px;
}
.category-module .tabs li {
line-height:26px;
}
.product-tab .tabs{padding-left:0px;}
.product-tab .tabs li a {font-size:11px; padding:7px 3px 6px 3px;}

.title-404 {
	font-size:170px;
	line-height: 1em;
}

.post-comment .post-comment{margin-left:20px;}

}

@media (min-width: 768px) {
.col-sm-5ths {
width: 20%;
float: left;
}
}
@media (min-width: 992px) {
.col-md-5ths {
width: 20%;
float: left;
}
}
@media (min-width: 1200px) {
.col-lg-5ths {
width: 20%;
float: left;
}
}
li.price {
	margin-left: 2%;
}